<style>
  .fontColor {
    color: #0b0b0b
  }
</style>
<link rel="stylesheet" type="text/css" href="assets/css/skills-card.css" media="screen" />

  <div class="skills-container">
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
          <h3>Design</h3>
        </div>
      </div>
      <div class="skills-face face2">
        <div class="skills-content fontColor">
          <p>{% include /card/desing.html %}</p>

          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
          <h3>Code</h3>
        </div>
      </div>
      <div class="skills-face face2 fontColor">
        <div class="skills-content">
          <p>{% include /card/code.html %}</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
          <h3>Launch</h3>
        </div>
      </div>
      <div class="skills-face face2">
        <div class="skills-content fontColor">
          <p>{% include /card/deploy.html %}</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>




